.masthead {
  background: rgba(0,184,225,1);
  background: -moz-linear-gradient(45deg, rgba(0,184,225,1) 0%, rgba(92,228,212,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,184,225,1)), color-stop(100%, rgba(92,228,212,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,184,225,1) 0%, rgba(92,228,212,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,184,225,1) 0%, rgba(92,228,212,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,184,225,1) 0%, rgba(92,228,212,1) 100%);
  background: linear-gradient(45deg, rgba(0,184,225,1) 0%, rgba(92,228,212,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b8e1', endColorstr='#5ce4d4', GradientType=1 );
  background-repeat: no-repeat;
}
.navbar-inner {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.jumbotron { background: transparent; }
