/*
ANIMATION
*/
.bounce {
  animation-name: bounce; }

.animated {
  animation-iteration-count: infinite;
  animation-duration: 2s; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-5px); }
  60% {
    transform: translateY(-5px); } }
/*
GLOBAL
*/
.masthead {
  background: #00b8e1;
  background: linear-gradient(45deg, #00b8e1 0%, #5ce4d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b8e1', endColorstr='#5ce4d4', GradientType=1 );
  background-repeat: no-repeat; }

.navbar-inner {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

.jumbotron {
  background: transparent; }

.rs-jumbotron {
  padding-top: 2rem;
  padding-bottom: 6rem;
  text-align: center; }

@media (min-width: 576px) {
  .rs-jumbotron {
    text-align: left; } }
.rs-wlcm {
  margin-top: 3rem;
  margin-bottom: 6rem; }

.rs-wlcm-msg {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7; }

.rs-lead {
  font-size: 1.75rem;
  margin-top: 1rem;
  letter-spacing: .025rem; }

.rs-explr {
  color: #888; }

.pre-wrap {
  padding-top: 34px; }
